/* header.php */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul li {
  float: right;
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 25px;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial;
  /* padding: 6px 6px 6px; */
}

/* Change the link color to #111 (black) on hover */
nav ul li a:hover {
  background-color: #111;
}

nav ul li a:active {
  background-color: blue;
}



/* Global */
p.errorMsg {
  color: #4DDE35;
  text-align: center;
  font-family: Arial;
  font-weight: bold;
}

/* index.php */

#homePage {
  text-align: center;
  font-size: 30px;
  font-family: Arial;
  margin-top: 100px;
}


#welcome {
  text-align: center;
  color: #0036E6;
  font-family: Arial;
  font-weight: bold;
  margin: 50px auto;
}


/* signup.php */

.signupForm {
  font-family: Helvetica;
  max-width: 500px;
  margin: 2rem auto;
  border: 2px solid black;
  padding: 2rem;
  display: block;
}

.signupForm h2 {
  text-align: center;
}


.signUpBottonContainer {
  height: 50px;
  width: 100px;
  padding-left: 275px;
  padding-top: 25px;
  position: relative;

}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.signupInput {
  padding: 60px;
}




/* login.php */

.loginForm {
  font-family: Helvetica;
  max-width: 500px;
  margin: 2rem auto;
  border: 2px solid black;
  padding: 2rem;
  display: block;
}

.loginForm h2 {
  text-align: center;
}


.loginBottonContainer {
  height: 100px;
  width: 100px;
  padding-left: 275px;
  padding-top: 25px;
  position: relative;

}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loginInput {
  padding: 60px;
}
